{% extends 'core/base.html' %}

{% block contenido %}
{% load humanize %}
<br>
<br>
<div class="card">
    <div class="card body">
        <h2>Listado de Productos</h2>
        <table class="table table-striped table-hover table-responsive-sm">
                <tr>
                    <th>Nombre</th>
                    <th>Precio</th>
                <tr>

                {% for p in productos %}

                <tr>
                    <td>{{ p.nombre | title }}</td>
                    <td>${{ p.precio | intcomma }}</td>
                </tr>
                <td>
                    <a href="{% url 'modificar_producto' p.id %}" class="btn btn-info btn-sm">Modificar</a>
                    <a href="{% url 'eliminar_producto' p.id %}" class="btn btn-danger btn-sm">Eliminar</a>
                </td>
            </tr>    

            {% endfor %}

        </table>
    </div>
</div> 

{% endblock %}