{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>
    <link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,700;1,400;1,700&family=Open+Sans:ital,wght@0,400;0,700;1,600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
    {% block css %}
    {% endblock %}
    <link rel="stylesheet" href="{% static 'core/css/estilo_contacto.css' %}">
    

    {% load pwa %}

    {% progressive_web_app_meta %}
    
</head>
<body>

    
    <header id="header">

        <img class="menu" src="{% static 'img/menuiconwhite.png' %}" alt="menu" id="menu">
        <br>
        <br>
        <div class="contenedor_logo">
        
        </div>
    
        <div>
            
            <nav id="nav">
                <ul>
                    <li>
                        <a href="contacto">Contactanos</a>
                    </li>
                    <li>
                        <a href="Donativos">Donaciones</a>
                    </li>
                    <li><a href="registro">Registrate</a></li>
                       <li>
                        <a href="{% url 'productos' %}">Ventas</a>
                    </li>
                    {% if perms.core.add_producto %}
                    <li>
                        <a href="{% url 'agregar_producto' %}">Agregar Producto</a>
                    </li>
                    {% endif %}
                    {% if perms.core.view_producto %}
                    <li>
                        <a href="{% url 'listar_productos' %}">Listado Productos</a>
                    </li>
                    {% endif %}
                    {% if user.is_authenticated %}
                    <li>
                        <a href="{% url 'logout' %}">Cerrar sesión</a>
                    </li>
                    <li>
                        <a href="#">@{{ user.username }}</a>
                    </li>
                    <li>
                        {% for auth in backends.associated %}
                            {% if auth.provider == 'facebook' %}
                                <img src="{{ auth.extra_data.picture.data.url }}" alt="" width="50" height="50">
                            {% endif %}
                        {% endfor %}
                    </li>
                    {% else %}
                    <li>
                        <a href="{% url 'login' %}">Iniciar sesión</a>
                    </li>
                    {% endif %}
                </ul>
            </nav>

        </div>

    </header>

    <div id="contenido">


        {% block contenido %}
        {% endblock %}


    </div>



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
      
    <script src="{% static 'js/menu.js' %}"></script>

    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    {% block mensajeria %}
    {% if messages %}
        {% for m in messages %}
            <script>
                Swal.fire({
                    "title": "Felicitaciones",
                    "text": "{{m}}",
                    "icon":"success"
                })
            </script>
        {% endfor %}
    {% endif %}    
    {% endblock %}
    {% block js %}
    {% endblock %}

</body>
</html>