{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>
    <link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,700;1,400;1,700&family=Open+Sans:ital,wght@0,400;0,700;1,600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">

    <link rel="stylesheet" href="{% static 'css/estilo_contacto.css' %}">
    
</head>
<body>

    
    <header id="header">
        <img class="menu" src="" alt="menu" id="menu">
        <div class="contenedor_logo">
            <img  class="logo"  src="" alt="">
        </div>

        <div>
            
            <nav id="nav">
                <ul>
                    <li>
                        <a href="home">Home Garden</a>
                    </li>
                    <li>
                        <a href="Donativos">Donaciones</a>
                    </li>
                    <li><a href="formularioContacto">Registrate</a></li>
                    <li>
                        <a href="{% url 'agregar_producto' %}">Agregar Producto</a>
                    </li>
                    <li>
                        <a href="{% url 'listar_productos' %}">Listado Productos</a>
                    </li>
                </ul>
            </nav>

        </div>

    </header>

    <div id="contenido">

        {% block contenido %}
        {% endblock %}


    </div>



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  
    <script src="{% static 'js/menu.js' %}"></script>

    {% block js %}
    {% endblock %}

</body>
</html>