
body{
    background-image: url(..core/img/contactoFondo.jpg);
    flex-wrap: wrap;
}

.titulo h3 {
    font-size: 1cm;
    color: #3b4754;
    transform: translateX(30px);
}
.titulo p {
    color: #798da3;  
    transform: translateX(30px);  
    width: 600px;
}
.fondo{
   
    height: 500px;
    margin: 30px;
    border: 1px ;
    border-color: 3b4754;
    width: 1100px;
}
.inputs{
    float:left;
    width:750px;
}
.inputs h3{
    font-size: 0.5cm;
    color: #040505;
    transform: translateX(30px);
}
.inputs p{
    color: #798da3;  
    transform: translateX(30px);  
    width: 600px;
}
.informacion{
    float: left;
    border-left: 2px solid  ;
    border-color: #E5E5E5;
    height: 400px;
}
.informacion h3{
    font-size: 0.5cm;
    color: #3b4754;
    transform: translateX(30px);
}

.control{
    background-color: white;
    width: 200px;
    height: 30px;
    margin: 10px;
    margin-left: 10%;
    transform: translateY(10px);
    border-radius: 8px;
    border-color: rgb(37, 36, 36);
    border-width: 1px;
    font-size: 15px;
    
    

}
.mensaje{
    background-color: white;
    width: 50%;
    height: 100px;
    margin: 10px;
    margin-left: 10%;
    transform: translateY(10px);
    border-radius: 8px;
    border-color: rgb(37, 36, 36);
    border-width: 1px;
    font-size: 15px;

}
.boton{
    margin: 10px;
    width: 100px;
    height: 40px;
    margin-left: 10%;
    border-radius: 5px;
    background-color: #29323d;
    color: white;
}


.formulario {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 20px;
}

.formulario__label {
	display: block;
	font-weight: 700;
	padding: 10px;
	cursor: pointer;
}

.formulario__grupo-input {
	position: relative;
}

.formulario__input {
	width: 100%;
	background: #fff;
	border: 3px solid transparent;
	border-radius: 3px;
	height: 45px;
	line-height: 45px;
	padding: 0 40px 0 10px;
	transition: .3s ease all;
}

.formulario__input:focus {
	border: 3px solid #0075FF;
	outline: none;
	box-shadow: 3px 0px 30px rgba(163,163,163, 0.4);
}

.formulario__input-error {
	font-size: 16px;
	margin-bottom: 0;
	display: none;
    color: #000;
}

.formulario__input-error-activo {
	display: block;
}

.formulario__validacion-estado {
	position: absolute;
	right: 10px;
	bottom: 15px;
	z-index: 100;
	font-size: 16px;
	opacity: 0;
}

.formulario__checkbox {
	margin-right: 10px;
}

.formulario__grupo-terminos, 
.formulario__mensaje,
.formulario__grupo-btn-enviar {
	grid-column: span 2;
}

.formulario__mensaje {
	height: 45px;
	line-height: 45px;
	background: #e47777;
	padding: 0 15px;
	border-radius: 3px;
	display: none;
    transform: translateY(15px);
}

.formulario__mensaje-activo {
	display: block;
}

.formulario__mensaje p {
	margin: 0;
    color: #000;
}

.formulario__grupo-btn-enviar {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.formulario__btn {
	height: 45px;
	line-height: 45px;
	width: 30%;
	background: #000;
	color: #fff;
	font-weight: bold;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	transition: .1s ease all;
    transform: translateY(40px);
}

.formulario__btn:hover {
	box-shadow: 3px 0px 30px rgba(163,163,163, 1);
}

.formulario__mensaje-exito {
	font-size: 14px;
	color: #119200;
	display: none;
}

.formulario__mensaje-exito-activo {
	display: block;
}

/* ----- -----  Estilos para Validacion ----- ----- */
.formulario__grupo-correcto .formulario__validacion-estado {
	color: #1ed12d;
	opacity: 1;
}

.formulario__grupo-incorrecto .formulario__label {
	color: #bb2929;
}

.formulario__grupo-incorrecto .formulario__validacion-estado {
	color: #bb2929;
	opacity: 1;
}

.formulario__grupo-incorrecto .formulario__input {
	border: 3px solid #bb2929;
}


/* ----- -----  Mediaqueries ----- ----- */
@media screen and (max-width: 800px) {
	.formulario {
		grid-template-columns: 1fr;
	}

	.formulario__grupo-terminos, 
	.formulario__mensaje,
	.formulario__grupo-btn-enviar {
		grid-column: 1;
	}

.formulario__grupo-btn-enviar{
    transform: translateY(110%);
}

.formulario__btn {
		width: 50%;
	}
} 
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
}
